<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">


	<div layout:fragment="content" class="container mt-3 mb-3">

		
		
		  	
      	<form action="#" th:action="@{/articles/doUpdate}" th:object="${article}" method="post">
      	
      		<input name="id" type="hidden" th:value="*{id}">
      		
      		<div class="input-group input-group-lg">
      			<span class="input-group-text" id="inputGroup-sizing-lg">Artikelname</span>
      			<input th:field="*{name}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="">
      			<div class="fieldError">
      				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
      			</div>
      		</div>
      		
      		<div class="input-group input-group-lg">
      			<span class="input-group-text" id="inputGroup-sizing-lg">Artikelbeschreibung</span>
      			<input th:field="*{description}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="">
      			<div class="fieldError">
      				<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
      			</div>
      		</div>
      		
      		<div class="input-group input-group-lg">
      			<span class="input-group-text" id="inputGroup-sizing-lg">Händler</span>
      			<input th:field="*{trader}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="">
      			<div class="fieldError">
      				<p th:if="${#fields.hasErrors('trader')}" th:errors="*{trader}"></p>
      			</div>
      		</div>
      		
      		<div class="input-group input-group-lg">
      			<span class="input-group-text" id="inputGroup-sizing-lg">Preis</span>
      			<input th:field="*{price}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="">
      			<div class="fieldError">
      				<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
      			</div>
      		</div>
      		
      		
      		<button class="btn btn-primary" type="submit">Speichern</button>
      		
      		<div th:if="${#fields.hasErrors('*')}"></div>
      	</form>		
	</div>

</html>